Authlib==1.3.2
einops==0.8.0
fastapi==0.115.6
flax==0.10.2
git+https://github.com/datacommonsorg/llm-tools
google-api-python-client==2.156.0
google-cloud-aiplatform==1.75.0
google-cloud-bigquery==3.27.0
google-cloud-pipeline-components==2.18.0
google-cloud-storage==2.19.0
google-cloud-pubsub==2.27.1
gradio==5.9.1
gradiologin==0.0.1
httpx==0.27.2
kfp==2.7.0
matplotlib==3.9.2
ml-collections==1.0.0
moviepy==1.0.3
oauth2client==4.1.3
openai==1.55.3
opencv-python==4.10.0.84
pandas==2.2.3
six==1.16.0
tensorflow==2.17.0
requests==2.32.3
numpy
functions-framework==3.8.2
APScheduler
google-cloud-firestore
google-auth
google-genai
google-generativeai