Authlib==1.3.2
einops==0.8.0
flax==0.10.2
git+https://github.com/datacommonsorg/llm-tools
google-api-python-client==2.146.0
google-cloud-aiplatform==1.67.0
google-cloud-bigquery==3.25.0
google-cloud-pipeline-components==2.14.1
google-cloud-storage==2.18.2
google-genai==0.3.0
gradio==5.9.1
httpx==0.27.2
kfp==2.7.0
matplotlib==3.9.2
ml-collections==1.0.0
moviepy==1.0.3
oauth2client==4.1.3
openai==1.55.3
opencv-python==4.10.0.84
pandas==2.2.3
pillow==11.0.0
six==1.16.0
tensorflow==2.17.0
